.login {
    h1 {
        text-align: center;
        margin-bottom: 5%;
    }
    .txt_blk {
        @extend %infoBlocks;
    }
    input, textarea {
        @extend %input;
    }
    .btn {
       @extend %button;
    }
    .heart{
        margin-bottom:40px;
    }
}
