.view {
    .profileSettings {
        h1 {
            text-align: center;
        }
        .txt_blk {
            @extend %infoBlocks;
        }
        .btn {
            @extend %button;
            &:nth-child(0) {
                margin-left: 2%;
            }
            &:nth-child(1) {
                margin-right: 2%;
            }
        }
        input, textarea {
            @extend %input;
        }
        .col-sm-12 {
            @include paddingLR(20%);
        }
        img {
            margin-bottom: 50px;
        }
    }
}
